<div class="container color-dark">
	<div class="col">
		<p>Add Todo task</p>
	</div>
	<div class="col">
		<p>To Do list</p>
	</div>

</div>

<div class="container color-light">
	<div class="col">
		<h2>
			use this tool to add to-do list or remove
		</h2>

		<form>
			<input type="text" name="projectname" placeholder="please enter project"/>
			<br>

			<input type="submit" name="btn" value="Add task"/>


		</form>
		
	</div>

	<div class="col">
		<p class="project-container">
			Projects list
		</p>
		

	</div>
	

</div>

